.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 48px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}
toggle.toggle-button {
  margin: 50px;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 30px;
  height: 3px;
  background: white;
}
