.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 77px;
}

.mapAdd {
  width: 400px;
  height: 400px;
}

.mapboxgl-popup-content {
  margin: 0px;
  padding: 10px;
}

a {
  color: black;
  font-family: sans-serif;
}

h5 {
  margin: 0px;
  padding: 5px;
  font-family: Georgia;
}

.title {
  text-align: center;
  font-family: Georgia;
}
li {
  color: white;
  font-family: Georgia;
}

.comment {
  border: solid black 2px;
  font-family: Georgia;
}

.poi_user {
  color: black;
  text-align: start;
  font-size: smaller;
  margin-bottom: 0px;
}

.comment_user {
  color: black;
  text-align: start;
  font-size: smaller;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-family: Georgia;
}
h3 {
  text-align: center;
  font-family: Georgia;
}

body {
  background-color: antiquewhite;
}
.Login {
  height: 100%;
  font-family: Georgia;
}
.Register {
  height: 100%;
  font-family: Georgia;
}
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/73458718_2529479587144311_3136788927516508160_o.jpg?_nc_cat=109&ccb=2&_nc_sid=730e14&_nc_ohc=IWS70Ucvi5wAX9pg9O1&_nc_ht=scontent-iad3-1.xx&oh=ae3279b2b9f2e93e8c939eca955e1eec&oe=60141497);
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img2 {
  background-image: url(http://www.opendurham.org//sites/default/files/images/2008_5/Lakewood_streetcar_1910.jpg);
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 800px;
  padding: 16px;
  background-color: white;
}
.container input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.container1 {
  margin: auto;
  max-width: 400px;
  text-align: left;
  padding: 16px;
  background-color: white;
}

.container2 {
  position: absolute;
  right: 200px;
  margin: 20px;
  max-width: 800px;
  padding: 16px;
  background-color: white;
}

.container input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.container input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.container1 input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.container1 input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.container2 input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}
.container2 input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.submit {
  background-color: #708090;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-family: Georgia;
}

.btn:hover {
  opacity: 1;
}
div.polaroid {
  width: 50%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(134, 129, 129, 0.19);
  margin-bottom: 25px;
  margin-top: 100px;
  font-family: Georgia;
  text-align: center;
}
div.caption {
  text-align: center;
  padding: 10px 20px;
}
div.body1 {
  margin: 25px;
}

div.polaroid1 {
  width: 320px;
  padding: 10px 10px 15px 15px;
  border: 1px solid BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
div.rotate_left {
  float: left;
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  margin: 10px;
}
div.caption1 {
  text-align: center;
  padding: 10px 20px;
  font-family: Georgia;
}
.body2 {
  margin: 30px;
}

@media only screen and (max-width: 768px) {
  .mapview {
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 350px;
  }
}
.notes {
  text-align: left;
  font-size: 15px;
}

div.name {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
div.address {
  font-size: 10px;
  font-style: italic;
}
